@import "tailwindcss";

:root {
  --font-libre: 'Libre Baskerville', serif;
}

html, body {
  font-family: var(--font-libre), serif;
  color: #7E7E6B;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-libre), serif;
}
